#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

$font-big: 50px;
$font-mid: 40px;
$font-small: 30px;

$font-bold: 900;
$font-thin: 200;

$color-black: rgb(82, 108, 192);

.test {
  font-size: $font-big;
  font-weight: $font-bold;
}
h2 {
  color: $color-black;
  font-weight: $font-bold;
  font-size: $font-mid;
}

ul {
  display: grid;
  gap: 10px;
}

li {
  color: $color-black;
  font-weight: $font-thin;
  font-size: $font-small;
}
